.list{
    background-color: #FFF;
    list-style: none;
    margin: 0;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

    .list .list-item{
        display: flex;
        padding: 10px 5px;
    }
    .list .list-item:not(:last-child){
        border-bottom: 1px solid #EEE;
    }

        /*list item image wrapper*/
        .list .list-item__image{
            height: 80px;
        }
            .list .list-item__image img{
                overflow: hidden;
                border-radius: 50%;
                width: 80px;
                height: 80px;
            }

        /*list item content*/
        .list .list-item__content{
            flex-grow: 1;
            padding: 0 20px;
        }
            .list .list-item__content h4{
                margin: 0;
                font-size: 18px;
            }

            .list .list-item__content p{
                font-weight: 300;
                margin-top: 5px;
                color: #AAA;
                margin-bottom: 0;
                line-height: 1.2em;

                /*FOR MULTILINE ELLIPSIS*/
                display: block; /* Fallback for non-webkit */
                display: -webkit-box;
                width: 100%;
                height: 40px; /* Fallback for non-webkit */
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
