@import url('https://fonts.googleapis.com/css?family=Cairo:300,400');

@import url('list.component.css');
@import url('sidebar.component.css');
@import url('input-addon.component.css');

html, body{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    color: #555;
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
}

section{
    position: relative;
    min-height: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.list-section{
    background-color: #5B9EED;
}

.sidebar-section{
    align-items: stretch;
    background-color: #995BED;
}

.input-addon-section{
    background-color: #4D3074;
}

/*list component wrapper*/
.list-wrapper{
    width: 400px;
    margin: 50px 20px;
}
    .list-wrapper > h3{
        color: #FFF;
        font-weight: 300;
    }

/*list component wrapper*/
.sidebar-wrapper{
    width: 300px;
    margin: 50px 20px;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
    .sidebar-wrapper > h3{
        color: #FFF;
        font-weight: 300;
    }

/*list component wrapper*/
.input-addon-wrapper{
    width: 400px;
    margin: 50px 20px;
}
    .input-addon-wrapper > h3{
        color: #FFF;
        font-weight: 300;
    }